<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="rounded-layout">
      <div class="container">
        <div class="body">
          <div class="row">
            <ion-icon id="backpositioning" (click)="redirectToHome()" name="chevron-back-outline"></ion-icon>
          </div>
          <div class="product">
            <div *ngIf="prodetail">
              <img src="{{prodetail.imagepath}}" alt="">
              <h2>{{prodetail.name | translate}}</h2>
              <h4>{{prodetail.price}}€</h4>
              <h5><b>{{'DETAIL.description' | translate}}</b></h5>
              <p>{{prodetail.description | translate}}</p>
              <div id="button-custom" (click)="addCart(prodetail)">
                <h4>{{'DETAIL.button' | translate}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
