.bg{
    background-color: rgb(126, 15, 15);
}

.hero-image {
    background-image: url("../../assets/icon/2.jpg");
    height: 100vh;
    width: auto;
    background-size: cover;
    position: relative;
    background-position: center;
    border-radius: 30px;

    @media(min-width: 400px){
        background-position: auto;
    }

    .welcoming{
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;

        @media(min-width: 333px){
            width: 300px;
        }

        @media(min-width: 777px){
            width: auto;
        }

        img{
            width: 150px;
            height: 150px;
            display: block;
            margin: 0 auto;
            border-radius: 85px;
            box-shadow: 5px 5px 28px #b9b9b9;
            margin-bottom: 10px;
        }

        h2, h5{
            color: white;
            text-shadow: 5px 5px 10px #000000;
        }

        h2{
            font-size: 50px;
            padding-bottom: 14px;
        }

        h5{
            font-size: 30px;
            line-height: 35px;

            span{
                color: #4ae54a;
            }
        }
    }
    
    #button-custom{
        position: fixed;
        background-color: #cf3c4f;
        bottom: 90px;
        left: 0;
        transform: translate(calc(50vw - 50%));
        border-radius: 30px;
        width: 50%;
        padding: 10px;

        @media(min-width: 530px){
            width: 300px;
        }

        h4{
            text-align: center;
            color: white;
        }
    }
}
