.bg{
    background-color: rgb(126, 15, 15);
}

.hero-image {
    background-image: url("../../assets/icon/2.jpg");
    height: 100vh;
    width: auto;
    background-size: cover;
    position: relative;
    background-position: center;
    border-radius: 30px;

    @media(min-width: 400px){
        background-position: auto;
    }

    .welcoming{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;

        @media(min-width: 777px){
            width: auto;
        }

        h2, h5{
            color: white;
            text-shadow: 5px 5px 10px #000000;
        }

        h2{
            font-size: 50px;
            padding-bottom: 14px;
        }

        h5{
            font-size: 30px;
            line-height: 35px;

            span{
                color: #4ae54a;
            }
        }
    }
    
    .button-show{
        position: fixed;
        bottom: 90px;
        left: 0;
        transform: translate(calc(50vw - 50%));
    }
}
