<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="rounded-layout">
      <div class="container">   
        <div class="body">
          <div class="row">
            <ion-icon id="backpositioning" (click)="redirectToHome()" name="chevron-back-outline"></ion-icon>
          </div>
          <div class="col-8 centering">
            <ion-item id="decoration-item" *ngFor="let prod of cart">
              <table>
                <tr>
                  <th>
                    <img src="{{prod.imagepath}}" alt="">  
                  </th>
                  <th>{{prod.name}}</th>
                  <th>{{prod.price}}€</th>
                </tr>
                <tr>
                  <th>Quantità: {{prod.amount}}</th>
                  <th>
                    <ion-button (click)="increaseCartItem(prod)">
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                  </th>
                  <th>
                    <ion-button (click)="decreaseCartItem(prod)">
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                  </th>
                  <th>
                    <ion-button (click)="removeCartItem(prod)">
                      <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                  </th>
                </tr>
              </table>
            </ion-item>
            <div *ngIf="cart.length !== 0">
              <ion-button (click)="checkOut()" color="danger" expand="block">Checkout</ion-button>         
            </div>
            <div *ngIf="cart.length === 0">
              <div class="container text-center">
                <img id="sadcart" src="../../assets/icon/sad-cart_Tavola disegno 1.png" />
                <h1>Al momento non hai nulla nel carrello</h1>
              </div>
            </div>
          </div>
        </div>     
      </div>
    </div>
  </div>
</ion-content>
