<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="rounded-layout">
      <div class="container">   
        <div class="body">
          <ion-grid>
            <ion-item id="decoration-item" *ngFor="let prod of cart">
              <ion-row>
                <ion-col size="4">
                  <img src="{{prod.imagepath}}" alt="">  
                </ion-col>
                <ion-col size="4">{{prod.name}}</ion-col>
                <ion-col size="4">Quantità: {{prod.amount}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">{{prod.price}}€</ion-col>
                <ion-col size="3">
                  <ion-button (click)="increaseCartItem(prod)">
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="decreaseCartItem(prod)">
                    <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="removeCartItem(prod)">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-grid>
          <div *ngIf="cart.length !== 0">
            <div class="row">
              <div class="d-flex justify-content-between">
                <h2>Totale: </h2>
                <h2>{{ getTotal() | currency: 'EUR' }}</h2>   
              </div>
            </div>
            <ion-button (click)="checkOut()" color="danger" expand="block">Checkout</ion-button>         
          </div>
          <div *ngIf="cart.length === 0">
            <div class="container text-center">
              <h1>Al momento non hai nulla nel carrello</h1>
              <a (click)="redirectToHome()"class="text-primary"><h4>Scopri le nostre pietanze che aspettano solo te!</h4></a>
            </div>
          </div>
        </div>     
      </div>
    </div>
  </div>
</ion-content>
