.bg{
    background-color: rgb(126, 15, 15);
}
.rounded-layout{
   border-radius: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 0;
    
    h2, h6{
        font-weight: bold;
        color: black;
        text-shadow: 0 0 10px white;
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    h2{
        font-size: 40px;
        padding-bottom: 0;
    }

    h6{
        font-size: 20px;
    }

    img{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        border-radius: 85px;
        box-shadow: 5px 5px 28px #b9b9b9;
    }

    #searchbar{
        width: auto;
        border-radius: 50px;
        margin: 16px;

        @media(min-width: 430px){
            width: 300px;
        }

        .searchbar-input-container, .sc-ion-searchbar-md{

            input{
                border-radius: 50px;
            }
        }
    }
}

.body{
    background-color: #efefef;
    min-height: 100vh;
    border-radius: 30px;

    section{
        margin: 20px;
        margin-bottom: 0;
        padding-left: 20px;

        .border-bottom{
            background-color: rgb(172, 33, 33);
            width: 90px;
            height: 4px;
            margin: 0 auto;
            border-radius: 10px;
        }

        h4{
            color: rgb(172, 33, 33);
            font-weight: bold;
            margin-bottom: 10px;
            text-shadow: 0 0 10px rgb(180, 180, 180);
        }

        .container-list{
            max-width: 1700px;
            display: flex;
            overflow-x: auto;

            .card-product{
                position: relative;
                width: 300px;
                min-height: 300px;
                margin: 30px;
                margin-top: 60px;
                background-color: white;
                box-shadow: 0px 10px 28px rgba(102, 102, 102, 0.2);
                padding: 16px;
                border-radius: 50px;
                text-align: center;

                &:hover{

                    img{
                        transform: scale(1.05);
                        top: -3%;
                        left: 7%;
                    }

                    h4{
                        color: rgb(255, 255, 255);
                    }

                    h6{
                        color: white;
                    }
                }

                img{
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 200px;
                    min-width: 260px;
                    border-radius: 400px;
                    box-shadow: 0px 10px 28px rgba(102, 102, 102, 0.733);
                    transition: 0.4s ease;
                }

                h4{
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 40px;
                    color: black;
                    transition: 0.4s ease;
                    text-shadow: 0 0 10px rgb(180, 180, 180);
                }

                h6{
                    position: absolute;
                    top: 93%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 28px;
                    color: rgb(172, 33, 33);
                    transition: 0.4s ease;
                    text-shadow: 0 0 10px rgb(180, 180, 180);
                }
            }
        }
    }
}