.bg{
    background-color: rgb(126, 15, 15);
}
.rounded-layout{
   border-radius: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 0;
    
    h2, h6{
        font-weight: bold;
        color: black;
        text-shadow: 0 0 10px white;
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    h2{
        font-size: 40px;
        padding-bottom: 0;

        @media(max-width: 380px),
            screen and (max-height: 584px) {
            font-size: 30px;
        }
    }

    h6{
        font-size: 20px;
        
        @media(max-width: 380px),
            screen and (max-height: 584px) {
            font-size: 16px;
        }
    }

    img{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        border-radius: 85px;
        box-shadow: 5px 5px 28px #b9b9b9;

        @media(max-width: 380px)
             and (max-height: 584px) {
                width: 80px;
                height: 80px;
        }
    }

    #searchbar{
        width: auto;
        border-radius: 50px;
        margin: 16px;
        
        @media(min-width: 430px){
            width: 300px;
        }

        @media(max-width: 380px)
            and (max-height: 584px) {
            margin: 0;
            padding: 0;
        }

        .searchbar-input-container, .sc-ion-searchbar-md{

            input{
                border-radius: 50px;
            }
        }
    }
}

.body{
    background-color: #efefef;
    min-height: 100vh;
    border-radius: 30px;

    section{
        margin: 20px;
        margin-bottom: 0;
        
        @media(max-width: 380px)
            and (max-height: 584px) {
                margin-top: 12px;
        }

        .border-bottom{
            background-color: rgb(172, 33, 33);
            width: 90px;
            height: 4px;
            margin: 0 auto;
            border-radius: 10px;
        }

        h4{
            color: rgb(172, 33, 33);
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 22px;
            margin-top: 24px;
            text-shadow: 0 0 10px rgb(180, 180, 180);

            @media(max-width: 380px)
                and (max-height: 584px) {
                margin-top: 16px;
                font-size: 16px;
            }

            @media(max-width: 330px) {
                margin-top: 16px;
                font-size: 16px;
            }
        }

        .container-list{
            max-width: 1700px;
            display: flex;
            overflow-x: auto;

            .card-product{
                position: relative;
                border-radius: 50px;   
                box-shadow: 0px 10px 28px rgba(102, 102, 102, 0.2);
                background-color: white;
                width: 300px;
                min-height: 300px;
                margin: 30px;
                margin-top: 60px; 
                padding: 16px;
                text-align: center;

                @media(max-width: 380px)
                    and (max-height: 584px) {
                    width: 150px;
                    min-height: 150px;
                    margin: 30px;
                    margin-top: 20px;
                    box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.2);
                    border-radius: 30px;
                }

                @media(max-width: 330px) {
                    width: 150px;
                    min-height: 150px;
                    margin: 30px;
                    margin-top: 20px;
                    box-shadow: 0px 10px 10px rgba(102, 102, 102, 0.2);
                    border-radius: 30px;
                }

                &:hover{

                    img{
                        transform: scale(1.05);
                        top: -3%;
                        left: 7%;
                    }

                    h4{
                        color: rgb(255, 255, 255);
                    }

                    h6{
                        color: white;
                    }
                }

                img{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 400px;
                    box-shadow: 0px 10px 28px rgba(102, 102, 102, 0.733);
                    transition: 0.4s ease;
                    height: 200px;
                    top: 30%;
                    min-width: 260px;  

                    @media(max-width: 380px)
                        and (max-height: 584px) {
                        height: 85px;
                        box-shadow: 0px 10px 14px rgba(102, 102, 102, 0.733);
                        min-width: 130px;
                        top: 21%;
                    }

                    @media(max-width: 330px) {
                        height: 85px;
                        box-shadow: 0px 10px 14px rgba(102, 102, 102, 0.733);
                        min-width: 130px;
                        top: 21%;
                    }
                }

                .product-name{
                    position: absolute;
                    left: 50%;
                    font-size: 40px;
                    top: 70%;
                    transform: translate(-50%, -50%);
                    color: black;
                    transition: 0.4s ease;
                    text-shadow: 0 0 10px rgb(180, 180, 180);

                    @media(max-width: 380px),
                        screen and (max-height: 584px) {
                        font-size: 25px;
                        top: 54%;
                    }

                    @media(max-width: 330px) {
                        font-size: 25px;
                        top: 54%;
                    }
                }

                h6{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: rgb(172, 33, 33);
                    transition: 0.4s ease;
                    text-shadow: 0 0 10px rgb(180, 180, 180);
                    font-size: 28px;
                    top: 93%;

                    @media(max-width: 380px)
                        and (max-height: 584px) {
                        font-size: 14px;
                        top: 84%;
                    }

                    @media(max-width: 330px) {
                        font-size: 14px;
                        top: 84%;
                    }
                }
            }
        }
    }
}