  <ion-content [fullscreen]="true">
    <div class="bg">
      <div class="rouded-layout">
        <div class="container">
          <div class="body">
            <div class="header">
              <img src="../../assets/icon/logo2.png" alt="">
              <h2 class="mb-2 mt-5">Foodify</h2>
              <h4 class="text-center mb-2 mt-2">{{logstatus}}</h4>
              <div class="border-bottom"></div>
            </div>
            <div class="w-auto centering">
              <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div *ngIf="isLogged === false">
                  <div class="mb-4 mt-4">
                    <h6 class="text-danger" *ngIf="incorrectUsername">{{'ALERT_LOGIN_PAGE.alert_username'|translate}}</h6>                     
                    <ion-label>{{'LOGIN_PAGE.username'|translate}}</ion-label>
                    <ion-input [ngClass]="(statusUsername === 1 )? 'status-input':'incorrect-input'" type="text" formControlName="username"></ion-input>
                  </div>
                  <div class="mb-4 mt-4">
                    <h6 class="text-danger" *ngIf="incorrectPassword">{{'ALERT_LOGIN_PAGE.alert_password'|translate}}</h6>                     
                    <ion-label>{{'LOGIN_PAGE.password'|translate}}</ion-label>
                    <ion-input [ngClass]="(statusPassword === 1 )? 'status-input':'incorrect-input'" type="password" formControlName="password"></ion-input>
                  </div>
                  <div class="mt-5 mt-sm-2">
                    <div type="submit" (click)="onSubmit()" id="button-custom">
                      <h4>{{'LOGIN_PAGE.button'|translate}}</h4>
                    </div>
                  </div>
                </div>
                <div class="mt-5 mt-sm-2" *ngIf="isLogged === true">
                  <div type="submit" (click)="onLogOut()" id="button-custom">
                    <h4>Log out</h4>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
