.bg{
    background-color: rgb(126, 15, 15);
}
.rounded-layout{
   border-radius: 30px;
}

.header{
    position: relative;
    height: 50vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 28px #BBBB;

    h2{
        font-weight: bold;
        text-shadow: 0 0 10px rgba(243, 243, 243, 0.473);
        color: #eb445a;
    }

    h4{
        font-weight: bold;
    }

    img{
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 85px;
        box-shadow: 5px 5px 28px #b9b9b9;
    }

    .border-bottom{
        background-color: #eb445a;
        width: 90px;
        height: 4px;
        position: absolute;
        bottom: 0;
    }
}

.body{
    background-color: #efefef;
    min-height: 100vh;
    border-radius: 30px;

    .centering{
        margin: 0 auto;
    }

    form {
        padding: 30px 30px 0 30px;    

        .status-input{
            border-bottom: 1px solid #d9d9d9;
        }

        .incorrect-input{
            border-bottom: 1px solid red;
        }

        #button-custom{
            position: static;
            transform: none;
            margin: 0 auto;
        } 
    }
}