.layout-system{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    .button-align{
        display: flex;
        align-items: center;
        justify-content: center;

        h6{
            margin: 0;
        }
    }
}